---
- name: Set Vertica IPs for cluster deployment
  set_fact: vertica_ips={{vertica_cluster}}
  when: vertica_cluster is defined

- name: Check status of admintools config file
  stat: path={{vertica_config_dir}}/admintools.conf
  register: admin_tools_status

- name: Create admintools config file
  template: src=admintools.conf.j2 dest={{vertica_config_dir}}/admintools.conf owner="{{vertica_dbadmin_user}}" group="{{vertica_dbadmin_group}}" mode=660
  when: not admin_tools_status.stat.exists

- name: "Build hosts file"
  lineinfile: dest=/etc/hosts regexp='.*{{ item }}$' line="{{ hostvars[item].ansible_default_ipv4.address }} {{item}}" state=present
  when: vertica_cluster is defined and vertica_group is defined
  with_items: vertica_group

