#!/bin/bash

# This script is meant to restart a vertica cluster in a failed state. If run and a node is DOWN then the cluster will be restarted at last good known point. Must be run from root

vertica_status=$(su dbadmin -c '/opt/vertica/bin/admintools -t view_cluster -d {{ vertica_database_name }}' | grep DOWN | wc -l)

if [ ${vertica_status} -eq 0 ]; then
   echo "Database is already running correctly on all nodes"
   exit 0
fi

echo "Attempting to start database from current state"

su dbadmin -c '/opt/vertica/bin/admintools -t start_db -d {{ vertica_database_name }} -p "{{ vertica_dbadmin_password }}" -i'

vertica_status=$(su dbadmin -c '/opt/vertica/bin/admintools -t view_cluster -d {{ vertica_database_name }}' | grep DOWN | wc -l)

if [ ${vertica_status} -eq 0 ]; then
   echo "Database is successfully in a running state"
   exit 0
fi


echo "Attempting to restart database from last good known state"

su dbadmin -c '/opt/vertica/bin/admintools -t restart_db -d {{ vertica_database_name }} -e last -p "{{ vertica_dbadmin_password }}" -i'

vertica_status=$(su dbadmin -c '/opt/vertica/bin/admintools -t view_cluster -d {{ vertica_database_name }}' | grep DOWN | wc -l)

if [ ${vertica_status} -eq 0 ]; then
   echo "Database is successfully in a running state"
   exit 0
fi


echo "Attempting to restart database from last good known state on each node"

su dbadmin -c '/opt/vertica/bin/admintools -t restart_node -s {{ vertica_ips }} -d {{ vertica_database_name }} -p "{{ vertica_dbadmin_password }}" -F -i'

vertica_status=$(su dbadmin -c '/opt/vertica/bin/admintools -t view_cluster -d {{ vertica_database_name }}' | grep DOWN | wc -l)

if [ ${vertica_status} -eq 0 ]; then
   echo "Database is successfully in a running state"
   exit 0
else
   echo "Could not start database"
   exit 1
fi
